[Unit]
Description=This is the web service that should be running to complete task number 8
After=network.target

[Service]
Type=simple
ExecStart=/var/opt/hachi/run_app.sh

[Install]
WantedBy=multi-user.target