[Unit]
Description=This is the web service that should be running to complete task number 5
After=network.target

[Service]
Type=simple
User=bepo
Group=heart
ExecStart=python /opt/adenza/05/App/app.py

[Install]
WantedBy=multi-user.target