[Unit]
Description=Watcher service
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/bin/watcher

[Install]
WantedBy=multi-user.target
