[Unit]
Description=This is the web service that should be running to complete task number 4
After=network.target

[Service]
Type=simple
ExecStart=python /opt/adenza/04/App/app.py

[Install]
WantedBy=multi-user.target